<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="ComponentUrlTemplate" value="{0}.kerb-cd.test" />
    <add key="LogFilePathTemplate" value="C:\KerbCD\logs\KerbCD_{0}.log" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization>
    <identity impersonate="true" />
    <customErrors mode="Off" />
    <httpCookies httpOnlyCookies="true" />
  </system.web>

  <system.webServer>

    <validation validateIntegratedModeConfiguration="false" />

    <security>

      <authentication>
        <anonymousAuthentication enabled="false" userName="" />
        <windowsAuthentication enabled="true" useAppPoolCredentials="true">
          <providers>
            <clear />
            <add value="Negotiate" />
          </providers>
        </windowsAuthentication>
      </authentication>

      <requestFiltering>
        <requestLimits maxQueryString="204800" maxUrl="409600" />
      </requestFiltering>

    </security>

    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
    </compilers>
  </system.codedom>

</configuration>
